@model CreateRoomDto

@{
    ViewData["Title"] = "AddRoom";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/AdminRoom/Index">Odalar</a></li>
            <li class="breadcrumb-item active"><a href="/AdminRoom/AddRoom">Oda Ekleme Sayfası</a></li>
        </ol>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Oda Ekleme Sayfası</h4>
                    <p class="text-muted m-b-15 f-s-12">Oda bilgilerini <code>eksiksiz</code> doldurunuz.</p>
                    <div class="basic-form">
                        <form method="post">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Oda Numarası</label>
                                <input type="text" asp-for="RoomNumber" class="form-control input-rounded col-sm-10" placeholder="Odanın numara bilgisini giriniz.">
                                <span asp-validation-for="RoomNumber" class="text-danger"></span>
                            </div>
                            <hr />
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Oda Görseli</label>
                                <input type="text" asp-for="CoverImage" class="form-control input-rounded col-sm-10" placeholder="Odanın görsel bilgisini giriniz.">
                                <span asp-validation-for="CoverImage" class="text-danger"></span>
                            </div>
                            <hr />
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Başlık</label>
                                <input type="text" asp-for="Title" class="form-control input-rounded col-sm-10" placeholder="Odanın başlık bilgisini giriniz.">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <hr />
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Yatak Sayısı</label>
                                <textarea asp-for="BedCount" class="form-control input-rounded col-sm-10" placeholder="Odanın yatak sayısı bilgisini giriniz."></textarea>
                                <span asp-validation-for="BedCount" class="text-danger"></span>
                            </div>
                            <hr />
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Banyo Sayısı</label>
                                <textarea asp-for="BathCount" class="form-control input-rounded col-sm-10" placeholder="Odanın banyo sayısı bilgisini giriniz."></textarea>
                                <span asp-validation-for="BathCount" class="text-danger"></span>
                            </div>
                            <hr />
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Oda Ücreti</label>
                                <input type="text" asp-for="Price" class="form-control input-rounded col-sm-10" placeholder="Odanın ücret bilgisini giriniz.">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <hr />
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Oda Açıklaması</label>
                                <textarea asp-for="Description" class="form-control input-rounded col-sm-10" placeholder="Odanın açıklamasını giriniz."></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <hr />
                            <button class="btn btn-outline-primary col-12">Yeni Oda Ekle!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>