<div class="header">
    <div class="header-content clearfix">

        <div class="nav-control">
            <div class="hamburger">
                <span class="toggle-icon"><i class="icon-menu"></i></span>
            </div>
        </div>
        <div class="header-left">
            <div class="input-group icons">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                </div>
                <input type="search" class="form-control" placeholder="Aranacak kelime" aria-label="Search Dashboard">
                <div class="drop-down   d-md-none">
                    <form action="#">
                        <input type="text" class="form-control" placeholder="Aranacak kelime">
                    </form>
                </div>
            </div>
        </div>
        <div class="header-right">
            <ul class="clearfix">
                @await Component.InvokeAsync("_DashboardMessages")

                <li class="icons dropdown">
                    <a href="javascript:void(0)" data-toggle="dropdown">
                        <i class="mdi mdi-incognito"></i>
                    </a>
                    <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                        <div class="dropdown-content-heading d-flex justify-content-between">
                            <span class="">Hızlı İşlemler Menüsü</span>

                        </div>
                        <div class="dropdown-content-body">
                            <ul>
                                <li>
                                    <a href="/AdminRoom/Index">
                                        <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                        <div class="notification-content">
                                            <h6 class="notification-heading">Oda İşlemleri</h6>
                                            <span class="notification-text">Oda ekleyebilir, silebilir ve diğer işlemleri yapabilirsiniz.</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/AdminStaff/Index">
                                        <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                        <div class="notification-content">
                                            <h6 class="notification-heading">Personel İşlemleri</h6>
                                            <span class="notification-text">Personel ekleyebilir, silebilir ve diğer işlemleri yapabilirsiniz.</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/AdminService/Index">
                                        <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                        <div class="notification-content">
                                            <h6 class="notification-heading">Hizmet İşlemleri</h6>
                                            <span class="notification-text">Hizmet ekleyebilir, silebilir ve diğer işlemleri yapabilirsiniz.</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/AdminRoleAssign/Index">
                                        <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                        <div class="notification-content">
                                            <h6 class="notification-heading">Rol Atama İşlemleri</h6>
                                            <span class="notification-text">Rol ekleyebilir, silebilir ve diğer işlemleri yapabilirsiniz.</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="icons dropdown d-none d-md-flex">
                    <a href="javascript:void(0)" class="log-user" data-toggle="dropdown">
                        <span>Türkçe</span>  <i class="fa fa-angle-down f-s-14" aria-hidden="true"></i>
                    </a>
                    <div class="drop-down dropdown-language animated fadeIn  dropdown-menu">
                        <div class="dropdown-content-body">
                            <ul>
                                <li><a href="javascript:void()">Türkçe</a></li>
                                <li><a href="javascript:void()">English</a></li>
                            </ul>
                        </div>
                    </div>
                </li>

                @await Component.InvokeAsync("_DashboardUser")
            </ul>
        </div>
    </div>
</div>