<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">DASHBOARD</li>
            <li>
                <a href="/Dashboard/Index" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/AdminBooking/Index" aria-expanded="false">
                    <i class="icon-calender menu-icon"></i><span class="nav-text">Rezervasyonlar</span>
                </a>
            </li>
            <li class="nav-label">SİTE İŞLEMLERİ</li>
            <li>
                <a href="/AdminAbout/UpdateAbout" aria-expanded="false">
                    <i class="icon-info menu-icon"></i><span class="nav-text">Hakkımızda</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/Index" aria-expanded="false">
                    <i class="icon-home menu-icon"></i><span class="nav-text">Odalar</span>
                </a>
            </li>
            <li>
                <a href="/AdminService/Index" aria-expanded="false">
                    <i class="icon-layers menu-icon"></i><span class="nav-text">Hizmetler</span>
                </a>
            </li>
            <li>
                <a href="/AdminTestimonial/Index" aria-expanded="false">
                    <i class="icon-list menu-icon"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a href="/AdminStaff/Index" aria-expanded="false">
                    <i class="icon-user menu-icon"></i><span class="nav-text">Personeller</span>
                </a>
            </li>
            <li>
                <a href="/AdminWorkLocation/Index" aria-expanded="false">
                    <i class="icon-map menu-icon"></i><span class="nav-text">Otel Lokasyonları</span>
                </a>
            </li>
            <li class="nav-label">KİŞİ İŞLEMLERİ</li>
            <li>
                <a href="/AdminUsers/Index" aria-expanded="false">
                    <i class="icon-user-follow menu-icon"></i><span class="nav-text">Kullanıcılar</span>
                </a>
            </li>
            <li>
                <a href="/AdminGuest/Index" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Misafirler</span>
                </a>
            </li>
            <li>
                <a href="/AdminRole/Index" aria-expanded="false">
                    <i class="icon-directions menu-icon"></i><span class="nav-text">Roller</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoleAssign/Index" aria-expanded="false">
                    <i class="icon-target menu-icon"></i><span class="nav-text">Rol Atamaları</span>
                </a>
            </li>
            <li class="nav-label">İLETİŞİM İŞLEMLERİ</li>
            <li>
                <a href="/AdminContact/Inbox" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text">Mesajlar</span>
                </a>
            </li>
            <li>
                <a href="/AdminMail/Index" aria-expanded="false">
                    <i class="icon-bubbles menu-icon"></i><span class="nav-text">Mail Gönderme</span>
                </a>
            </li>
            <li class="nav-label">DOSYA İŞLEMLERİ</li>
            <li>
                <a href="/AdminImageFile/Index" aria-expanded="false">
                    <i class="icon-picture menu-icon"></i><span class="nav-text">Fotoğraf Yükleme</span>
                </a>
            </li>
            <li>
                <a href="/AdminFile/Index" aria-expanded="false">
                    <i class="icon-folder menu-icon"></i><span class="nav-text">Dosya Yükleme</span>
                </a>
            </li>
            <li class="nav-label">SEÇENEKLER</li>
            <li>
                <a href="/AdminSettings/Index" aria-expanded="false">
                    <i class="icon-settings menu-icon"></i><span class="nav-text">Ayarlar</span>
                </a>
            </li>
            <li>
                <a href="/Default/Index" aria-expanded="false">
                    <i class="icon-arrow-right-circle menu-icon"></i><span class="nav-text">Siteye Git!</span>
                </a>
            </li>
            <li>
                <a href="/Login/Logout" aria-expanded="false">
                    <i class="icon-logout menu-icon"></i><span class="nav-text">Çıkış Yap!</span>
                </a>
            </li>
        </ul>
    </div>
</div>