<div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5">
                <h6 class="section-title text-start text-white text-uppercase mb-3">Lüx Yaşam</h6>
                <h1 class="text-white mb-4">Marka Lüks Oteli Keşfedin</h1>
                <p class="text-white mb-4">Otelimiz, benzersiz bir konaklama deneyimi sunmak için özenle tasarlanmış modern ve şık bir mekan olarak öne çıkıyor. Konuklarımız, rahat ve lüks odalarımızda konaklarken, yüksek kalitede hizmet ve misafirperverlikle karşılanacaklarını bilerek huzur dolu bir tatilin keyfini çıkarabilirler.</p>
                <a href="/Room/Index" class="btn btn-primary py-md-3 px-md-5 me-3">Odalarımız</a>
                <a href="/Booking/Index" class="btn btn-light py-md-3 px-md-5">Rezervasyon Yap!</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="video">
                <button type="button" class="btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/H1CIBqDeWQ0" data-bs-target="#videoModal" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Otelimiz</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>