<li class="icons dropdown">
    <div class="user-img c-pointer position-relative" data-toggle="dropdown">
        <span class="activity active"></span>
        <img src="@ViewBag.UserImage" height="40" width="40" alt="">
    </div>
    <div class="drop-down dropdown-profile   dropdown-menu">
        <div class="dropdown-content-body">
            <ul>
                <li>
                    <a href="/AdminSettings/Index"><i class="icon-user"></i> <span>Profil</span></a>
                </li>
                <li>
                    <a href="/AdminContact/Inbox"><i class="icon-envelope-open"></i> <span>Gelen Kutusu</span></a>
                </li>
                <hr class="my-2">
                <li><a href="/Login/Logout"><i class="icon-key"></i> <span>Çıkış Yap!</span></a></li>
            </ul>
        </div>
    </div>
</li>