@model CreateContactDto

<div class="col-md-6">
    <div class="wow fadeInUp" data-wow-delay="0.2s">
        <form name="post" asp-action="SendMessage" asp-controller="Contact">
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" asp-for="Name" class="form-control" id="name" placeholder="İsim ve soyisim bilgilerinizi giriniz.">
                        <label for="name">İsim Soyisim</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="email" asp-for="Mail" class="form-control" id="email" placeholder="E-Posta bilgilerinizi giriniz.">
                        <label for="email">E-Posta</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <input type="text" asp-for="Subject" class="form-control" id="subject" placeholder="Konu bilgisiniz giriniz.">
                        <label for="subject">Konu</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <textarea class="form-control" asp-for="Message" placeholder="Bir mesaj bırakın." id="message" style="height: 150px"></textarea>
                        <label for="message">Mesaj</label>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary w-100 py-3" type="submit">Gönder</button>
                </div>
            </div>
        </form>
    </div>
</div>